.wordButton-container-a3bs {
  width: 23vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  flex-direction: column;
  cursor: pointer;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.wordButton-container-a3bs:hover,
.wordButton-container-a3bs:focus,
.wordButton-container-a3bs:active {
  opacity: 0.75;
}

.wordButton-image-a3bs {
  max-height: 26vh;
  max-width: 18vw;
}

.wordButton-text-a3bs {
  font-size: 5vmin;
}
